app-header{
    display:block;
    position:sticky;
    top: 0px;
    background-color: grey;
    width:100%
}

app-footer{
    display:block;
    position:absolute;
    bottom: 0px;
    background-color: grey;
    width:100%
}
div{
    height: 100%;
}